* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



[class*='col-'] {
    background-color: blueviolet;
    border: 1px solid white;
    color: white;
    text-align: center;
    padding: 20px 20px;
}

[class*='col-']  [class*='col-'] {
    background-color: rgb(20, 177, 67);
    padding: 5px;
}

section {
    margin-top: 30px;
}